.game__time {
  width: 83px;
  height: 43px;
  margin-left: 52px;
  border: #939393 1px solid;
  font-family: 'Digital-7';
  font-size: 2.4rem;
  background-color: white;
  border-radius: 5%;
  box-shadow: 1px 1px 1px #d8d8d8;
  color: #585858;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.game__minutes {

}

.game__seconds {
  
}