.page {
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  /* position: relative; */

  /* sticky footer */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.game {
  margin: 0 auto;
  /* position: relative; */

  /* sticky footer */
  flex: 1 0 auto;
}

.game__title {
  text-align: center;
  margin: 35px 0;
  font-size: 2rem;
}

.game__container {
  margin: 0 auto;
  padding-bottom: 10px;
  border: #939393 1px solid;
  border-radius: 2%;
  background-color: #f2f2f2;
  width: 440px;
  /* display: flex;
  flex-direction: column; */

}

.game__data {
  padding: 5px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.game__bombs {
  width: 50px;
  height: 43px;
  margin-right: 82px;
  border: #939393 1px solid;
  font-family: 'Digital-7';
  font-size: 2.4rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  background-color: white;
  border-radius: 5%;
  box-shadow: 1px 1px 1px #d8d8d8;
}

.game__bombs-num {
  margin: 0;
  padding: 0;
  color: #585858;
}

.game__button {
  width: 45px;
  height: 45px;
  /* margin: 15px auto 10px; */
  /* display: block; */
  outline: none;
  border-radius: 5%;
  border: #939393 1px solid;
  box-shadow: 1px 1px 1px #d8d8d8;
  background-image: url(./images/smiley.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
  background-color: white;
  cursor: pointer;
}

.game__button_pressed {
  background-image: url(./images/pressedsmiley.png);
}

.game__button_finished {
  background-image: url(./images/dead.png);
}

.game__button_win {
  background-image: url(./images/win.png);
}

.game__grid {
  position: relative;
  margin: 0 auto;
  height: 420px;
  width: 420px;
  display: flex;
  flex-wrap: wrap;
  background-color: #d8d8d8;
  border: #939393 1px solid;
  border-radius: 1%;
}

.game__square {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #ececec 0.5px solid;
  box-shadow: inset 1px 1px 3px #f9f3eb;
  font-size: 20px;
  font-weight: bold;
  transition: opacity 0.2s linear;
}

.game__square:hover {
  opacity: 0.8;
}

.game__square_checked {
  /* background-color: #9d9d9d; */
  background-color: #9699bb;
  box-shadow: none;
}

.game__square_one {
  color: #ff9dce;
}

.game__square_two {
  color: #00c4c4;
}

.game__square_three {
  color: #00bd62;
}

.game__square_four {
  color: #8b8bff;
}

.game__square_five {
  color: #e4e400;
}

.game__square_six {
  color: #ff972e;
}

.game__square_seven {
  color: #ff9a9a;
}

.game__bomb_active {
  background-image: url(./images/bomb.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
  background-color: #ff9d9d;
}

.game__flag {
  background-image: url(./images/flag.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}

.game__h2 {
  margin: 45px 0 30px 15px;
  padding: 0;
  font-size: 1.25rem;
  text-align: left;
}

.game__rules {
  margin: 0;
  padding: 0;
  line-height: 1.9;
  font-weight: 300;
  width: 780px;
}

.footer {
  margin-top: 35px;
  flex: none;
}

.footer__author {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.75rem;
  text-align: right;
  margin-right: 25px;
}

/* цвета полей */
/* .game__theme {
  margin: 35px auto;
  padding: 10px;
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  background-color: #e4f2ff;
}

.game__grid_pastel {
  background-color: #f1e8e1;
}

.game__square_checked-pastel {
  background-color: #d3cfde;
}

.game__square_one-pastel {
  color: #ffebf5;
}

.game__square_two-pastel {
  color: #c4ffff;
}

.game__square_three-pastel {
  color: #e4fff2;
}

.game__square_four-pastel {
  color: #9f9fff;
}

.game__square_five-pastel {
  color: #ffffe4;
}

.game__square_six-pastel {
  color: #ffe5cb;
}

.game__square_seven-pastel {
  color: #ffe6e6;
}

.game__bomb_active-pastel {
  background-color: #d8afa7;
} */
